## SQL for Data Science
A relational database stores data in a tabular format - i.e. in rows and columns. But not all types of databases use the tabular format.

### Conception 
1.Database service instance - <br>
logical abstraction for managing workloads in a database. Operates as a service that handles all application requests to work with the data in any of the databases managed by that instance. <br>
2. IBM Db2 - <br>
Just like any database software, which is provisioned for you in the cloud. <br>
3.Host name - <Br>
A unique name or label assigned to any device that is connected to a specific computer network.

### CREATE and DROP tables
Varchar 可变长字符串 <br>
如果在生成表格时遇到table xxx.yyy already exists的错误 请使用drop table COUNTRY;

In [ ]:
# Example1
create table COUNTRY ( #Name the table as COUNTRY
    ID INTEGER PRIMARY KEY NOT NULL, #Column data type, NOT NULL is a constraint added after the data type, it cannot contain a NULL(appear to be a blank) or an empty value. 
    CCODE char(2),
    NAME varchar(60),
    PRIMARY KEY (ID) #唯一而且非空 A Primary Key is a unique identifier in a table, and using Primary Keys can help speed up your queries significantly.
    );

### Getting table and column details

In [ ]:
select * from syscat.tables #query system catalog to get a list of tables & their properties

select TABSCHEMA, TABNAME, CREATE_TIME
    from syscat.tables
    where tabschema = 'usename'

In [ ]:
#To obtain the column names query syscat.columns:
select * from syscat.columns
    where tabname = 'DOGS'

#To obtain specific column properties:
select distinct(name), coltype, length \
    from sysibm.syscolumns where tbname = 'tablename'

### Select Statement
Database is not just to store data, but also facilitate retrieval of the data. <br>
**select<column 1>, <column 2> from book** or <br>
**select book_id, title from book**

**WHERE Clause** allows to restrict the result set.clause=条款，predicate谓语 <br>
格式为 <br>
**select book_id, title from book <br>
    WHERE *book_id = 'B1'* **(Predicate evaluates to true, flase, unknown) <br>
    <br>
Some useful expressions that be used with select statements:

In [ ]:
select * from COUNTRY #select all columns from table
select book_id <> 10 #select book id not equal 10

In [ ]:
count() #retrieve the number of rows matching the query criteria
select COUNT(COUNTRY) from MEDALS
    where COUNTRY = 'CANADA'

In [ ]:
DISTINCT #avoid duplicate values from a result set.
Select DISTINCT columnname from tablename

In [ ]:
LIMIT #retrieve limited rows result set from database
select * from tablename LIMIT 10
select * from MEDALS
    where YEAR = 2018 LIMIT 5

### Insert Statement
Example:

In [ ]:
INSERT INTO AUTHOR #TABLENAME
(AUTHOR_ID, LASTNAME, FIRSTNAME, EMAIL, CITY, COUNTRY)
VALUES #COLUMNS that needed to be inserted, can be multiple values.
('A1','CHONG','RFC@IBM.COM','TORONTO','CA'),
('A2'...)

### Update and Delete Statements
To alter or modify the data of the table we used UPDATE Statements.<br>
Example:

In [ ]:
UPDATE AUTHOR #table name
SET LASTNAME = KATTA #column = new value 
    FIRSTNAME = LAKSHMI #column = new value
WHERE AUTHOR_IR = A2 #Row name

In [ ]:
DELETE FROM AUTHOR
WHERE AUTHOR_ID IN ('A2','A3')

### The relationships of Types
One-to-One relationship: Book || Authord by || Author <br>
One-to-Many relationship: Book || Authored by < Author (Crows foot notation, less than symbol < representing this entity can has at least 1 attribute.) <br>
Many-to-many relationship: Book> Author < Author

**Relational Model Concepts** <br>
Building blocks: <br>
1.Relation(1.1Relational schema - specify relation name and attributes, and 1.2 Relational instance - a table made up of the attributes and tuples) <br>
2.Set(Unordered collection of distinct elements/itmes of same type/no order or no duplicate) <br>
Degree = the number of attributes(columns) #有几种变量 <br>
Cardinality = the number of tuples #有多少个数据基数(rows)

### Retrieving rows- using a string pattern
When you don't remember the exact value you could use to search for a pattern in a column. <Br>
Example 1: using % to find a value that you forgot

In [ ]:
bd2 => select firstname from author
where firstname like 'R%' # %sign represent possible letter

Example 2: Use a **range** to retrieve the data

In [ ]:
db2 => select title, pages from book
where pages >= 200 and pages <= 300
#or
db2 => select title, pages from book
where pages between 290 and 300

Example 3: Use a set of value if you need to select a large attributes

In [ ]:
select firstname, lastname, country from author where country IN ('AU','BR','CN')

### Sorting Result Set
Example: Order by clause

In [ ]:
select title from book
order by title desc #title is the column name it can be a number,desc = descending. Ascending by default.

### Grouping result sets
Example 1: Eliminating dupilcation

In [ ]:
Select distinct(country) from author

Example 2: Group by clause to know how many authors are from the same country.

In [ ]:
#group by
select country, count(country) from author group by country

#as count
select country, count(country)
as count from author group by country

#having
select country, count(country) as count from author group by country having count(country) > 4

### Build-in Database functions

In [ ]:
#取总数后新增列
select SUM(COLUMN_NAME) AS "NAME_LABLE_NAME"
from TABLENAME

In [ ]:
#两列之间的运算结果
select AVG(SALEPRISE / QUANTITY) from PETSALE
where ANIMAL = 'Dog'

In [ ]:
#Scaler and String functions: ROUND(), LENGTH(), UCASE, LCASE
SELECT UCASE(ANIMAL) from PETSALE

SELECT DISTINCT(UCASE(ANIMAL)) from PETSALE

SELECT * FROM PETSALE
WHERE LCASE(ANIMAL) = 'cat'

### Date and Time function

In [ ]:
select DAY(SALEDAY) from PETSALE
where ANIMAL = 'CAT'

#Get the number of sales during the month of may:
select count(*) from PETSALE
where MONTH(SALEDAY) = '05'

#find how many days have been passed since the saleday: CURRENT_DAY, CURRENT_TIME
SELECT (CURRENT_DAY - SALEDAY) FROM PETSALE

### Sub-Queries and nested selects
使用Select的时候只兼容一种query

In [ ]:
#Use substitude to create a table to avoide sensative info.
Select * from
    (select EPM_ID, F_NAME, L_NAME from EMPLOYEES) AS EMP4ALL

### Working with multiple Tables

In [ ]:
select * from employees
    where DEP_ID in
    (Select DEP_ID_DEP) from departments #outer sub-query

In [ ]:
#To retrieve only the list of employees from a specific location
select * from employees
    where DEP_ID in
    (SELECT DEP_ID_DEP from departments
    where LOC_ID = 'L0002');

In [ ]:
select DEP_ID_DAP, DAP_NAME from Departments
   WHERE DEPT_ID_DEP IN
    (select DEP_ID from employees
    where SALARY > '70000')

In [ ]:
#Example to access multiple tables with implicit join
#在第一行select的序列中后尾加入首字母，可以用于后续的表格简单表达

#查看数据 department name(from Departments) 和员工姓名(from employees)
Select employees.EMP_ID, departments.DEPT_NAME 
    from Employees E, Departments Departments D 
    Where E.DEP_ID = D.Dep_ID_DEP;

In [ ]:
select EMPLOYEES.F_NAME,EMPLOYEES.L_NAME,DEPARTMENTS.DEP_NAME
    from EMPLOYEES E, DEPARTMENTS D 
    WHERE E.DEP_ID = D.DEPT_ID_DEP

In [ ]:
SELECT F_NAME, DEP_NAME FROM EMPLOYEES E, DEPARTMENTS D
	WHERE E.DEP_ID = D.DEPT_ID_DEP

**Joining 2 tables with sql syntax** <br>
Inner join(most popular) & Outer join <br>
1. Identify the schema of different items in 2 tables

1.Inner Join

In [ ]:
#假设两个表格 BORROWER(BORROWER_ID, LASTNAME, FIRSTNAME,EMAIL,COUNTRY), LOAN(COPY_ID[FK],BORROWER_ID[FK],LOAN_DATE,RETURN_DATE) Question: who(name) has borrowed book(s)

SELECT B.BORROWER_ID, B.LASTNAME,B.COUNTRY, L.BORROWER_ID,L.LOAN_DATE
FROM BORRROWER B INNER JOIN LOAN L #FROM means Join the info into BORROWER table
ON B.BORROWER_ID = L.BORROWER_ID

2.Left outer Join operator

In [ ]:
#IN LEFT JOIN if there is unknow value in right table, there will be a 'NULL VALUE' in left table.

SELECT B.BORROWER_ID, B.LASTNAME,B.COUNTRY, L.BORROWER_ID,L.LOAN_DATE
FROM BORRROWER B LEFT JOIN IN LOAN L #FROM means 需要从LOAN的表格里往 BORROWER table填充数据
ON B.BORROWER_ID = L.BORROWER_ID

### Relational Model Constraints
A constraints to each columns. <Br>
A primary key uniquely identifies each row in a table. If primary keys could have NULL values, you could end up with duplicate rows in a table.

### Writing code using DB-API
Cursor is a control structure enables traversal over the records in a database.

In [ ]:
from dbmodule import connect
#create connection object
Connection = connect('databasename','username','pswd')
#create a cursor object
corsor = connection.cursor()
#run queries
cursor.execute('select*from mytable')
results = cursor.fetchall()
#free resources
cursor.close()
connection.close()

### Analyzing data with Python in Pandas and Visialization tools
分析麦当劳产品的营养成分，表格中的schema可以概括为：
category, item, serving size, calories from fat, total fat, ...fat, dietary fiber

In [ ]:
#Verify loaded data using SQL
stmt = ibm_db.exec_immediate(conn,"SELECT * FROM MCDONALDS_NUTRITION")

ibm_db.fetch_both(stmt)

In [ ]:
#Using pandas to retrieve data from db 有2种方法
import pandas
import ibm_db_dbi
pconn = ibm_db_dbi.Connection(conn)

#方法1
df = pandas.read_sql(Select * from MCDONALDS_NUTRITION)
df。head()

#方法2
#query statement to retrieve all rows in INSTRUCTOR table
#selectQuery = "select * from INSTRUCTOR"
#retrieve the query results into a pandas dataframe
#pdf = pandas.read_sql(selectQuery, pconn)

#print just the LNAME for first row in the pandas data frame
#pdf.head()

In [ ]:
#Use 'describe' method to view statistic of the data in the data frame可以看到count, unique, top, freq等参数
df.describe(include='all')

**To answer the question: which food item has maximum sodium content?**

In [ ]:
#此方法会出现数据图表格，最高点是3600
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

plot = sns.swamplot(x = "Category", y="Sodium", data = df)
plt.setp(plot.get_xticklables(),rotation=70)
plt.title('Sodium Content')
plt.show()

In [ ]:
#Use boxpolt to explore whitegrid and sugars, it indicates the distribution of one or more variables. 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

plot = sns.set_style("whitegrid")
ax = sns.boxplot(x=df["sugars"])
plot.show()

In [ ]:
#用列表的方法查出各种最值 横坐标是count, mean, std, min, max
df['Sodium'].describe()
#结果也是3600

In [ ]:
#找出sodium值最高的index 结果为82
df['Sodium'].idxmax()

In [ ]:
#找出index为82的item名称
fd.at[82,'Item']